@import "bootstrap";

.signup_form {
  min-width: 250px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-link-custom-row {
	margin-top: 10px;
}

.nav-link-custom {
	color: black;
}

.supporter-level-containers {
	background-color: #D3D3D3;
	text-align: center;
	border-style: solid;
	border-color: darkgrey;
	border-width: 1px;
}
